body {
    font-family: Arial, sans-serif;
    background-color: #f5f0f0;
    margin: 0;
    padding: 20px;
    background-image: url('hotel image.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #5e2abe;
    text-shadow: 3px 1px 5px;
}

form {
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;    
    max-width: 700px;
    margin: auto;
}

fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow:2px 2px 5px grey;
    }

#submit:hover {
    background-color: #6a946c;
    transform: scale(1.05);
    transition: transform 0.2s;

}  


footer {
    text-align: center;
    margin-top: 20px;
    color: #18c758;
}

p {
    color: #3b13b3;
}